/* Container utama untuk halaman generik */
.generic-page-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 20px 200px; /* Memberi ruang di sisi kiri dan kanan */
}